body {
  margin: 0;
}

table {
  border: 1px solid grey;
}

td, th {
  border: 1px solid black;
  height: 20px;
  width: 20px;
}

#face-or-heel {
  visibility: hidden;
}

#face {
  height: 30px;
  width: 30px;
  background-color: green;
}

#heel {
  height: 30px;
  width: 30px;
  background-color: red;
}
